<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <title>fftool</title>
        <link rel="stylesheet" type="text/css" href="dashboard.css">
        <script src="dashboard.js"></script>
    </head>
    <body>
        <h1>Firefox url dashboard</h1>
        rendered at: {{ now }}<br>
        {{ last_sync_str }}<br>

        <div>
            <input class='input mb-5' type="search" id="searchbox" placeholder="omnisearch" tabindex="0" autofocus />
        </div>
        
        <!-- TODO: navigation -->


        <details>
            <h2>synced</h2>
            <summary>
                {% include 'synced.html' %}
            </summary>
        </details>

        <details>
            <h2>tabs</h2>
            <summary>
                {% include 'tabs.html' %}
            </summary>
        </details>

        <details>
            <h2>bookmarks</h2>
            <summary>
                {% include 'bookmarks.html' %}
            </summary>
        </details>

    </body>
</html>
